{% extends 'base.html' %}
{% load static %}
{% block incomingcontent %}

        <!-- About image -->
        <div class="position-relative">
            <div style="width: 100%; height: 50vh; background-color: rgba(7, 7, 103, 0.418);">
                <img style="width: 100%; height: 100%;" src="{% static 'img/about-us.jpg' %}" alt="About us">
            </div>
            <div class="position-absolute top-50 start-50 translate-middle text-overlay">
                <h1 class="text-secondary display-1 mb-4 animated fadeInRight">About Us</h1>
            </div>
        </div>                     
        <!-- Image End -->


        <!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/about-1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/about-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h4 class="text-primary">About us</h4>

                        <p class="mb-4">Janja Programmers is a software  company established in the year 2022, driven by a passionate team of experts who are dedicated to crafting bespoke solutions for businesses and organizations.</p>

                        <p class="mb-4">At Janja Programmers, we take pride in our unparalleled technical expertise and industry experience. Our team comprises highly skilled professionals who are committed to delivering exceptional software solutions tailored to your unique needs. Whether you're a startup seeking to disrupt your industry or an established organization looking to modernize your systems, we have the knowledge and skills to make it happen.</p>

                        <p class="mb-4">What truly sets us apart is our unwavering commitment to understanding and exceeding our clients' expectations. We believe in recognizing your custom software development needs and delivering solutions that not only meet them but go above and beyond. We take the time to understand your goals, challenges, and vision, ensuring that the software we develop is a perfect fit for your business.</p>
                        
                        <a href="{% url 'contact' %}" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Contact us</a>
                    </div>
                </div>
            </div>

           
            <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-2">
                        <div class="col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center p-4">
                                <h4 class="mb-3 text-center">Our Mission</h4>
                                <p class="m-0">Fostering innovation and providing a diverse range of tactics, innovative solutions, and services.</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.6s">
                            <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center p-4">
                                <h4 class="mb-3 text-center">Our Vision</h4>
                                <p class="m-0">To be the world's foremost supplier of cutting-edge solutions that energise global, social and economic structures.</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.6s">
                            <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center p-4">
                                <h4 class="mb-3 text-center">Our Belief</h4>
                                <p class="m-0">Empowering global progress through innovation, collaboration, and sustainable solutions.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock incomingcontent %}