{% extends 'base.html' %}
{% load static %}
{% block incomingcontent %}
        <!-- Carousel Start -->
        <div class="container-fluid px-0" style="margin-top: -24px;">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                </ol>`
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid" alt="First slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h1 class="text-white display-1 mb-4 animated fadeInRight">Elevating Software Excellence</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown">Crafting cutting-edge software solutions that push the boundaries of innovation. Join us to unlock the full potential of your digital vision.</p>
                                <a href="{% url 'about' %}" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                                <a href="{% url 'contact' %}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'img/carousel-2.jpg' %}" class="img-fluid" alt="Second slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h1 class="text-white display-1 mb-4 animated fadeInLeft">Unleash Your Software Potential</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown">Our team ensures your projects are not just code but a reflection of reliability and quality. We transform ideas into robust software.</p>
                                <a href="{% url 'about' %}" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                                <a href="{% url 'contact' %}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'img/carousel-3.jpg' %}" class="img-fluid" alt="Third slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h1 class="text-white display-1 mb-4 animated fadeInLeft">Solutions Beyond Expectation</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown"> Collaborate with us to get software solutions that go above and beyond. We bridge the gap between your vision and real applications.</p>
                                <a href="{% url 'about' %}" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                                <a href="{% url 'contact' %}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Fact Start -->
        <div class="container-fluid bg-secondary py-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">99</h1>
                            <h5 class="text-white mt-1">Success in getting happy customer</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">25</h1>
                            <h5 class="text-white mt-1">Thousands of successful business</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">120</h1>
                            <h5 class="text-white mt-1">Total clients who love Janja Programmers</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">5</h1>
                            <h5 class="text-white mt-1">Stars reviews given by satisfied clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fact End -->


        <!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/about-2.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 35%; left: 25%;">
                                <img src="{% static 'img/about-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h5 class="text-primary">About Us</h5>
                        <h1 class="mb-4">About Janja Programmers And It's Innovative IT Solutions</h1>
                        <p>Welcome to Janja Programmers, your trusted partner in the world of software development. We are not just about creating software; we are about building lasting partnerships. We don't just develop and maintain products and services; we nurture long-term relationships with our clients, offering support and adaptability as your business evolves.</p>

                        <p class="mb-4">Whether you're an entrepreneur with a bold vision, a techpreneur seeking to innovate, or an organization striving for excellence, Janja Programmers is here to help you realize your ambitions.</p>
                        <a href="{% url 'about' %}" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Services Start -->
        <div id="services" class="container-fluid services py-5 mb-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h5 class="text-primary">Our Services</h5>
                    <h1>Services Built Specifically For Your Business</h1>
                </div>
                <div class="row g-5 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-globe fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Web Development</h4>
                                    <p class="mb-4">We specialize in creating stunning, user-friendly websites that not only captivate your audience but also drive results. Our web development team leverages the latest technologies to ensure your online presence is both aesthetically pleasing and fully functional.</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-mobile fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Mobile App Development</h4>
                                    <p class="mb-4">In the fast-paced world of mobile technology, we design and develop cutting-edge mobile applications for both iOS and Android platforms. Our apps are known for their functionality, exceptional user experience, and seamless performance.</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-cogs fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Software Development</h4>
                                    <p class="mb-4">Our software development team crafts custom solutions tailored to your specific needs. Whether it's desktop applications or scalable cloud-based software, we have the expertise to turn your ideas into efficient, reliable, and secure software.</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fas fa-network-wired fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">ICT Consultancy</h4>
                                    <p class="mb-4">Unlock the potential of your information and communication technology (ICT) infrastructure with our expert consultancy services. We provide strategic guidance to optimize your IT systems, enhance cybersecurity, and streamline operations.</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-comment fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Bulk SMS</h4>
                                    <p class="mb-4">Communicate with your audience in a cost-effective and time-efficient manner through our bulk SMS services. We offer a robust platform to help you reach your customers instantly, whether it's for promotions, updates, or important announcements</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fas fa-laptop-code fa-7x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Programming</h4>
                                    <p class="mb-4">Our proficient programmers are adept at solving complex problems and creating efficient algorithms. From scripting to coding, we cover a wide range of programming languages and paradigms to meet your unique requirements.</p>
                                    <a href="services" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->

         <!-- Testimonial Start -->
         <div class="container-fluid testimonial py-5 my-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <!-- <h5 class="text-primary">Our Testimonial</h5> -->
                    <h1>What Our Clients Say</h1>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay=".5s">
                    <div class="testimonial-item border p-4">
                        <div class="d-flex align-items-center">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-1.jpg' %}" alt="Fatmak">
                            </div>
                            <div class="ms-4">
                                <h4 class="text-secondary">Fatmak Pro Consultancy</h4>
                                <p class="m-0 pb-3">Consultancy Agency</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top mt-4 pt-3">
                            <p class="mb-0">Janja Programmers delivered high-quality software on time and within budget. Their expertise is unmatched, and I highly recommend them.</p>
                        </div>
                    </div>
                    <div class="testimonial-item border p-4">
                        <div class="d-flex align-items-center">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-2.jpg' %}" alt="Ali">
                            </div>
                            <div class="ms-4">
                                <h4 class="text-secondary">Blood Donation System</h4>
                                <p class="m-0 pb-3">Ali ~Graduate</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top mt-4 pt-3">
                            <p class="mb-0">Thank you for your invaluable assistance in elucidating my project. Your adept approach simplified complexities and rekindled my appreciation.</p>
                        </div>
                    </div>
                    <div class="testimonial-item border p-4">
                        <div class="d-flex align-items-center">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-3.jpg' %}" alt="Dozmor">
                            </div>
                            <div class="ms-4">
                                <h4 class="text-secondary">Dozmor Clinic</h4>
                                <p class="m-0 pb-3">Depression And Traumatic Clinic</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top mt-4 pt-3">
                            <p class="mb-0">Janja Programmers took our outdated systems and transformed them into a modern, efficient solution. The results speak for themselves.</p>
                        </div>
                    </div>
                    <div class="testimonial-item border p-4">
                        <div class="d-flex align-items-center">
                            <div class="testimonial-img">
                                <img src="{% static 'img/testimonial-4.jpg' %}" alt="MakeIAM">
                            </div>
                            <div class="ms-4">
                                <h4 class="text-secondary">Make I AM</h4>
                                <p class="m-0 pb-3">Upcoming Kenyan Music Artist</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                    <i class="fas fa-star me-1 text-primary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top mt-4 pt-3">
                            <p class="mb-0">Found traffic to my youtube channel a few weeks after the good job. You always talk of coffee so I will buy you one when we meet in person.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonial End -->


{% endblock incomingcontent %}


        