{% extends 'base.html' %}
{% load static %}
{% block incomingcontent %}

        <!-- Web Development -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/webdev-2.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/webdev-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">Web Development</h5>
                        <p>Our web development services are designed to bring your online vision to life. We understand the critical role a website plays in today's digital landscape, and we take pride in crafting websites that not only look visually appealing but also deliver an exceptional user experience. Using the latest web technologies and responsive design principles, we create websites that are not only aesthetically pleasing but also functional, fast-loading, and SEO-friendly. Whether you need a corporate website, e-commerce platform, or a custom web application, our team has the expertise to make it happen.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile App Development -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/mobileapp-2.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/mobileapp-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">Mobile App Development</h5>
                        <p>In today's mobile-driven world, having a presence on iOS and Android devices is essential. Our mobile app development services are designed to create captivating and functional mobile applications. We follow a meticulous process, from concept and design to development and deployment, to ensure your app offers an exceptional user experience. Our developers stay up to date with the latest mobile technologies to create apps that are not only user-friendly but also performance-optimized and ready to stand out in the app stores. Whether it's for business, e-commerce, or a unique idea, we can turn your vision into a mobile reality.</p>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Software Development -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/software-2.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/software-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">Software Development</h5>
                        <p>Our software development team is your partner in turning your ideas into reality. We specialize in creating tailored software solutions to meet your unique needs. From concept and design to development and deployment, we provide end-to-end software development services. Whether you require desktop applications, cloud-based solutions, or mobile apps, our developers are skilled in multiple programming languages and technologies. We ensure your software is reliable, secure, and scalable for future growth.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ICT Consultancy -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/consultancy-1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/consultancy-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">ICT Consultancy</h5>
                        <p>Our ICT consultancy services are your guide to optimizing your information and communication technology infrastructure. We provide strategic advice and technical expertise to help your organization make the most of its IT investments. Our consultants work closely with you to enhance your cybersecurity, streamline operations, and improve overall efficiency. With our guidance, you can harness the full potential of technology to meet your business objectives.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bulk SMS -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/sms-2.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/sms-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">Bulk SMS</h5>
                        <p>Engage your audience instantly with our efficient bulk SMS service. We offer a robust platform to help you connect with your customers, clients, or audience, delivering important updates, promotions, or notifications directly to their mobile devices. Our bulk SMS service is designed to be cost-effective and user-friendly, making it a powerful tool for businesses to stay connected and informed.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Programming -->
        <div class="container-fluid py-3 my-3">
            <div class="container pt-5">
                <div class="row g-1">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{% static 'img/programming-1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{% static 'img/programming-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn p-5" data-wow-delay=".5s">
                        <h5 class="text-primary">Programming</h5>
                        <p>Our team of experienced programmers is here to solve complex problems and create efficient solutions. We excel in a wide range of programming languages and paradigms, from web development to software engineering. Whether you need a custom application, website functionality, or specialized scripting, our programmers have the skills and knowledge to bring your ideas to life. We take pride in delivering clean, well-documented code that meets your specific requirements..</p>
                    </div>
                </div>
            </div>
        </div> 

{% endblock incomingcontent %}