{%  extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2 class="text-center">About</h2><hr><br>
        </div>
        <div class="row">
            <article>
                <h4>Blog App</h4>
                <div class="content">
                    <p>This is my blog application made with Python using the Django Framework.</p>
                    <img src="#" alt="Lovely" contain>
                </div><br>  

                <h5>Mission</h5>
                <div class="content">
                    <ul>
                        <li>To Introduce the Django Python Framework and broaden knowledge in it.</li>
                        <li>To offer step by step guidelines as blogs to teach a complete ROADMAP from beginner level (Python intellect) to Intermediate developer</li>
                        <li>To fully understand and develop applications using Django</li>
                    </ul>
                </div><br>
                <h5>Vision</h5>
                <div class="content">
                    <p>To create a blog app that makes it easy to learn the Django Framework</p>
                </div>
            </article>
        </div>
    </div>
{% endblock content %} 
