{% extends "blog/base.html" %}
{% load bootstrap5 %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Blog Post</legend>
                    {{ form.media }}
                    {%  for field in form %}
                    <div class="col-sm-12 form-group">
                        {% bootstrap_field field%}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}