{% extends 'base.html' %}
{% load static %}
{% block incomingcontent %}
    <div class="container">
        <h2 class="py-100 m-10">
            {{ title }}
        </h2>
        <div class="row">
            {% for item in queryset %}
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Content</th>
                            <th colspan="2">Action</th>
                        </thead>

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.image.url }}</td>
                            <td>{{ item.content }}</td>
                            <td><a href="{% url 'update' item.id %}">Update</a></td>
                            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
                            <br>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock incomingcontent %}